PORT=3001
DATABASE_URL="postgresql://<username>:<password>@localhost:5432/canva"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
ACCESS_TOKEN_SECRET=""
ACCESS_TOKEN_EXPIRE=""
CLIENT_URL="http://localhost:5173"
SERVER_URL="http://localhost:3001"