PORT=3000
DATABASE_URL="postgresql://<username>:<password>@localhost:5432/canva"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
ACCESS_TOKEN_SECRET=""
ACCESS_TOKEN_EXPIRE=""
CLIENT_URL="http://localhost:5173"
SERVER_URL="http://localhost:3001"
CANVAS_FLUSH_INTERVAL=2000
CANVAS_CACHE_TTL=300000
MAX_ELEMENTS_PER_CANVAS=500
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
GEMINI_API_KEY=""
AI_MODEL=""
